*.dll filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/libprotobufd.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/dnnl.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/libprotocd.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/asmjit.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/caffe2_detectron_ops.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/pthreadpool.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/c10d.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/fbgemm.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/fbjni.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/gloo.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/libprotobuf-lited.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/c10.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/clog.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/XNNPACK.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/torch_cpu.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/caffe2_module_test_dynamic.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/cpuinfo.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/mkldnn.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/pytorch_jni.lib filter=lfs diff=lfs merge=lfs -text
Libraries/libtorchdbg/lib/torch.lib filter=lfs diff=lfs merge=lfs -text
